@{
    ViewBag.Title = "订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="orderController">
    <h3 ng-init="id='@ViewBag.OrderId'">订单详情 <small>- @ViewBag.OrderId</small></h3>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            订单状态
        </div>
        <div class="col-sm-10">
            {{data.OrderStatus|enums:'orderStatus'}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            用户ID
        </div>
        <div class="col-sm-10">
            {{data.AccountId}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            用户名称
        </div>
        <div class="col-sm-10">
            {{data.AccountName}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            App ID
        </div>
        <div class="col-sm-10">
            {{data.AppId}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            创建日期
        </div>
        <div class="col-sm-10">
            {{data.CreatedTime|date:'yyyy/MM/dd HH:mm'}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            完成日期
        </div>
        <div class="col-sm-10">
            {{data.CompletedTime|date:'yyyy/MM/dd HH:mm'}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            订单数据
        </div>
        <div class="col-sm-10">
            {{data.RawData}}
        </div>
    </div>
    <div ng-init="fetch()"></div>
</div>
