@{
    ViewBag.Title = "订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="appConfigurationsController">
    <h2 class="page-header" ng-init="id='@ViewBag.AppId'">配置<small>- @ViewBag.AppId</small></h2>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">AppId</th>
                <th class="col-md-10">AppConfiguration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.Id}}</td>
                <td>{{data.Configuration}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-init="fetch()"></div>
</div>
