
@{
    ViewBag.Title = "Stay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">留存统计</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">指标</th>
                <th class="col-md-4 hidden-xs">描述</th>
                <th class="col-md-6">数值</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>天次日留存率</td>
                <td class="hidden-xs">统计所选时期内，当日成功登陆游戏的新增玩家中，第二日再次登陆游戏的玩家数量，占当日游戏新增玩家数量的比例。</td>
                <td></td>
            </tr>
            <tr>
                <td>周7日留存率</td>
                <td class="hidden-xs">统计所选时期内，当日成功登陆游戏的新增玩家中，往后推第7日（当日不计入天数）登陆游戏的玩家数量，占当日游戏新增玩家数量的比例。</td>
                <td></td>
            </tr>
            <tr>
                <td>月30日留存率</td>
                <td class="hidden-xs">统计所选时期内，当日成功登陆游戏的新增玩家中，往后推第30日（当日不计入天数）登陆游戏的玩家数量，占当日游戏新增玩家数量的比例。</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>