<configuration>
  <appSettings>
    <add key="PrimaryStorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=uctest;AccountKey=B0Ft+9h6WqMEEWngdLniMc9i+vR/4w6lfg13BrrjnOk1s9hkDXk2lvvnjz1RhAAR0FSp3Tqyvqm16YiSQWf7dw==" />
    <add key="ConnectionString" value="mongodb://42.159.244.135:27017" />
    <add key="DatabaseName" value="ucenter_test" />
    <add key="EventConnectionString" value="mongodb://42.159.244.135:27017" />
    <add key="EventDatabaseName" value="ucenter_event" />
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
