<div class="table-responsive">
    <h2 class="page-header">实时概况</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">指标</th>
                <th class="col-md-4 hidden-xs">描述</th>
                <th class="col-md-6">数值</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>实时新增设备</td>
                <td class="hidden-xs">实时统计当日激活的设备数量，如果已安装的游戏激活标识被移除的话，则设备激活不会被去重。</td>
                <td>244</td>
            </tr>
            <tr>
                <td>新增玩家</td>
                <td class="hidden-xs">实时统计当日新增玩家账号的数量。</td>
                <td>57</td>
            </tr>
            <tr>
                <td>实时老玩家</td>
                <td class="hidden-xs">实时统计当日有登陆过游戏的老玩家的账号数量。</td>
                <td>75</td>
            </tr>
            <tr>
                <td>实时总活跃</td>
                <td class="hidden-xs">实时统计当日所有有进行过登陆行为的玩家账号数量。</td>
                <td>888</td>
            </tr>
            <tr>
                <td>小时游戏次数</td>
                <td class="hidden-xs">实时统计当日玩家所进行的游戏总次数。</td>
                <td>123</td>
            </tr>
            <tr>
                <td>小时平均每次游戏时长</td>
                <td class="hidden-xs">实时统计当日玩家平均每次进行游戏的时间。</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</div>