
@{
    ViewBag.Title = "EventReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="playerController">
    <h2 class="page-header">抽水率</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-6">指标</th>
                    <th class="col-md-6">数值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>平台抽水率</td>
                    <td>10%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
