@using GF.Manager.Models
@model List<Plugin>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}

<div ng-controller="pluginsController">
    <div ng-include="'/plugins/_templates/views/plugins.html'"></div>
</div>