@model GF.Manager.Models.Plugin
@{
    ViewBag.Title = "Plugin";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}

<div id="wrapper">
    <!-- Navigation -->
    <nav ng-controller="navController" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/Home/Plugin/{{plugin.name+'/#p:'+plugin.name}}">{{plugin.displayName}}</a>
        </div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li ng-repeat="c in plugin.categories">
                        <a href="#{{'p:'+plugin.name+'/c:'+c.name}}" ng-click="setCategory(c)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> {{c.displayName}} <b class="caret"></b></a>
                        <ul class="nav nav-second-level">
                            <li ng-repeat="item in c.items">
                                <a href="#p:{{plugin.name+'/c:'+c.name+'/i:'+item.name}}" ng-click="setItem(item)">{{item.displayName}}</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-repeat="i in plugin.items">
                        <a href="#p:{{plugin.name+'/i:'+i.name}}" ng-click="setItem(c)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> {{i.displayName}} </a>
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>

        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div ng-view></div>
        </div>
    </div>

    @section scripts {
        @if (Model != null)
        {
            foreach (var script in Model.Scripts)
            {
                <script src="~/plugins/@ViewBag.PluginName/scripts/@script" type="text/javascript"></script>
            }
        }
    }
</div>