<div class="row">
    <div class="col-sm-8">
        <uib-pagination total-items="data.Total"
                        items-per-page="data.PageSize"
                        ng-model="page"
                        max-size="maxShowPages"
                        ng-change="onPageChange()"
                        class="pagination"
                        boundary-link-numbers="true"
                        previous-text="上一页"
                        next-text="下一页"
                        first-text="第一页"
                        lang-text="最后一页"
                        rotate="false"></uib-pagination>
    </div>
    <div class="col-sm-4 text-right">
        <ul class="pagination">
            <li class="disabled"><a href="#">页长</a></li>
            <li ng-repeat="size in pageSizeList" ng-class="{active:size==pageSize}">
                <a href="#" ng-click="onPageSizeChange(size)">{{size}}</a>
            </li>
        </ul>
    </div>
</div>
