<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Log in a separate thread, possibly queueing up to 5000 messages. 
    When the queue overflows, discard any extra messages-->

    <target name="AsyncFile" type="AsyncWrapper"
            overflowAction="Discard"
            queueLimit="5000"
            batchSize="100">
      <target name="File" type="File"
              fileName="${basedir}/logs/${shortdate}.log"
              autoFlush="false"
              keepFileOpen="true"
              layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="AsyncFile" />
  </rules>
</nlog>
