
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="PlayerGetChipsFromOtherEventsController">
    <h2 class="page-header">玩家接收筹码</h2>
    @Html.Partial("Partial/_ListPageHeadBar")
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>接收玩家EtGuid</th>
                <th>赠与玩家EtGuid</th>
                <th>收到赠送筹码数</th>
                <th>收到赠送筹码后筹码总数</th>
                <th>事件时间</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in raws">
                <td>{{row.GetChipsPlayerEtGuid}}</td>
                <td>{{row.FromPlayerEtGuid}}</td>
                <td>{{row.GetChipsNum}}</td>
                <td>{{row.AfterGetChipsNum}}</td>
                <td>{{row.EventTm|date:'yyyy/MM/dd HH:mm'}}</td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("Partial/_ListPageFootBar")
</div>