
@{
    ViewBag.Title = "订单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>订单列表</h1>
    <div id="orderList"></div>
</div>
@Scripts.Render("~/bundles/table")
<script type="text/babel">
    ReactDOM.render(
        <OrderListBox url="/api/orders" />,
        document.getElementById("orderList")
    );
</script>