
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="CoinBuyItemEventsController">
    <h2 class="page-header">金币购买道具</h2>
    @Html.Partial("Partial/_ListPageHeadBar")
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>购买玩家EtGuid</th>
                <th>礼物TbId</th>
                <th>花费金币数</th>
                <th>购买后金币总数</th>
                <th>事件时间</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in raws">
                <td>{{row.BuyPlayerEtGuid}}</td>
                <td>{{row.GiftTbId}}</td>
                <td>{{row.CostCoins}}</td>
                <td>{{row.AfterBuyCoinsNum}}</td>
                <td>{{row.EventTm|date:'yyyy/MM/dd HH:mm'}}</td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("Partial/_ListPageFootBar")
</div>
