<configuration>
  <appSettings>
    <add key="PrimaryStorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=uctest;AccountKey=B0Ft+9h6WqMEEWngdLniMc9i+vR/4w6lfg13BrrjnOk1s9hkDXk2lvvnjz1RhAAR0FSp3Tqyvqm16YiSQWf7dw==" />
    <add key="ConnectionString" value="mongodb://10.0.0.14:27017/?WaitQueueSize=20000;maxPoolSize=1000;minPoolSize=100" />
    <add key="DatabaseName" value="UCenter" />
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
