<configuration>
  <appSettings>
    <add key="PrimaryStorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=uctest;AccountKey=B0Ft+9h6WqMEEWngdLniMc9i+vR/4w6lfg13BrrjnOk1s9hkDXk2lvvnjz1RhAAR0FSp3Tqyvqm16YiSQWf7dw==" />
    <add key="ConnectionString" value="mongodb://42.159.147.100:27017" />
    <add key="DatabaseName" value="ucenter_test" />
    <add key="EventConnectionString" value="mongodb://42.159.147.100:27017" />
    <add key="EventDatabaseName" value="ucenter_event" />
    <add key="PingPlusPlusAppId" value="app_G4CqfTWbvTK4uzDu" />
    <add key="AliOssAccessKeyId" value="0Yi3l"/>
    <add key="AliOssAccessKeySecret" value="yDxhZrCLJzSW1"/>
    <add key="AliOssEndpoint" value="http://oss-cn-hangzhou.aliyuncs.com"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
