<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrimaryStorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=uctest;AccountKey=B0Ft+9h6WqMEEWngdLniMc9i+vR/4w6lfg13BrrjnOk1s9hkDXk2lvvnjz1RhAAR0FSp3Tqyvqm16YiSQWf7dw==" />
    <add key="ConnectionString" value="mongodb://10.0.0.14:27017/?WaitQueueSize=20000;maxPoolSize=1000;minPoolSize=100" />
    <add key="DatabaseName" value="UCenter" />
  </appSettings>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
