<configuration>
  <appSettings>
    <add key="ConnectionString" value="mongodb://127.0.0.1:27017" />
    <add key="DatabaseName" value="ucenter_test" />
    <add key="EventConnectionString" value="mongodb://127.0.0.1:27017" />
    <add key="EventDatabaseName" value="ucenter_event" />
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
