
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">购买会员</h2>

<div>
    <div ng-controller="usersController">
        @Html.Partial("Partial/_ListPageHeadBar")
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>购买玩家EtGuid</th>
                    <th>购买VIP天数</th>
                    <th>购买后VIP天数</th>
                    <th>花费人民币数</th>
                    <th>事件时间</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in raws">
                    <td>{{row.BuyPlayerEtGuid}}</td>
                    <td>{{row.BuyVIPDays}}</td>
                    <td>{{row.AfterBuyDays}}</td>
                    <td>{{row.CostMoney}}</td>
                    <td>{{row.EventTm}}</td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("Partial/_ListPageFootBar")
    </div>
</div>