
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">筹码购买礼物</h2>

<div>
    <div ng-controller="usersController">
        @Html.Partial("Partial/_ListPageHeadBar")
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>玩家EtGuid</th>
                    <th>礼物对象</th>
                    <th>礼物TbId</th>
                    <th>花费筹码数</th>
                    <th>购买后筹码总数</th>
                    <th>事件时间</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in raws">
                    <td>{{row.BuyPlayerEtGuid}}</td>
                    <td>{{row.Target}}</td>
                    <td>{{row.GiftTbId}}</td>
                    <td>{{row.CostChips}}</td> 
                    <td>{{row.AfterBuyChipsNum}}</td>
                    <td>{{row.EventTm}}</td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("Partial/_ListPageFootBar")
    </div>
</div>