
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">金币购买道具</h2>

<div>
    <div ng-controller="usersController">
        @Html.Partial("Partial/_ListPageHeadBar")
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>购买玩家EtGuid</th>
                    <th>礼物对象</th>
                    <th>礼物TbId</th>
                    <th>花费金币数</th>
                    <th>购买后金币总数</th>
                    <th>事件时间</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in raws">
                    <td>{{row.BuyPlayerEtGuid}}</td>
                    <td>{{row.Target}}</td>
                    <td>{{row.GiftTbId}}</td>
                    <td>{{row.CostChips}}</td>
                    <td>{{row.AfterBuyCoinsNum}}</td>
                    <td>{{row.EventTm}}</td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("Partial/_ListPageFootBar")
    </div>
</div>