
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">牌局</h2>

<div>
    <div ng-controller="usersController">
        @Html.Partial("Partial/_ListPageHeadBar")
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>事件时间</th>
                    <th>举报人</th>
                    <th>被举报人</th>
                    <th>类型</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in raws">
                    <td>{{row.EventTm}}</td>
                    <td>{{row.ReportPlayer}}</td>
                    <td>{{row.BeingReportedPlayer}}</td>
                    <td>{{row.ReportType}}</td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("Partial/_ListPageFootBar")
    </div>
</div>