
@{
    ViewBag.Title = "Player Managemnet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="playerController">
    <h2 class="page-header">玩家查询</h2>
    <div >
        @Html.Partial("Partial/_ListPageHeadBar")
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>Ip</th>
                    <th>性别</th>
                    <th>等级</th>
                    <th>经验值</th>
                    <th>账户筹码</th>
                    <th>银行筹码</th>
                    <th>金币</th>
                    <th>会员</th>
                    <th>会员加入时间</th>
                    <th>会员点数</th>
                    <th>游戏总局数</th>
                    <th>游戏赢局数</th>
                    <th>加入时间</th>
                    <th>最后登录时间</th>
                    <th>最后登出时间</th>
                    <th>当日发送筹码次数</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in raws">
                    <td>{{row.map_component.DefActor.NickName}}</td>
                    <td>{{row.map_component.DefActor.IpAddress}}</td>
                    <td>{{row.map_component.DefActor.Gender|enums:'gender'}}</td>
                    <td>{{row.map_component.DefActor.Level}}</td>
                    <td>{{row.map_component.DefActor.Experience}}</td>
                    <td>{{row.map_component.DefActor.ChipAcc}}</td>
                    <td>{{row.map_component.DefActor.ChipBank}}</td>
                    <td>{{row.map_component.DefActor.Gold}}</td>
                    <td>{{row.map_component.DefActor.IsVIP|yesNo}}</td>
                    <td>{{row.map_component.DefActor.VIPDataTime | date:'yyyy/MM/dd'}}</td>
                    <td>{{row.map_component.DefActor.VIPPoint}}</td>
                    <td>{{row.map_component.DefActor.GameTotal}}</td>
                    <td>{{row.map_component.DefActor.GameWin}}</td>
                    <td>{{row.map_component.DefActor.JoinDataTime| date:'yyyy/MM/dd HH:mm'}}</td>
                    <td>{{row.map_component.DefActor.LoginDateTime| date:'yyyy/MM/dd HH:mm'}}</td>
                    <td>{{row.map_component.DefActor.LogoutDateTime| date:'yyyy/MM/dd HH:mm'}}</td>
                    <td>{{row.map_component.DefActor.SendChipsTm}}</td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("Partial/_ListPageFootBar")
    </div>
</div>